extends layout 

block content 
  div(class="page-container")
    h3()=title
    form(method="post", class="submit-container" )
      textarea(name="content", cols="30", rows="10") #{post[0].content}
      div(class="buttons-container")
        button() Delete
        button(type="submit") Submit
  