extends layout

block content
  div(class="page-container")
    div(class="error-container")
      h1(class="error-heading") ⚠️ Something went wrong! ⚠️
      h2= message
      pre #{message.stack}
      a(href="/" class="error-home-link") Go Home