extends layout

block content
  div(class="home-container")
    textarea(class="message-input" cols="30", rows="10", placeholder="Enter text here...")
    button(class="submit-btn" type="submit") Submit

    div(class="post")
      div(class="vote-container")
        button(class="up-arrow") &#8593
        p Vote
      div(class="post-message") This is a dummy post


