doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <meta name="viewport" content="width=device-width">
  body
    nav(class="menu")
      a(href="/" class="menu-item") Home
    block content
