body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.author-input {
  width: 20%;
  margin-bottom: 16px;
}

.back-arrow {
  position: absolute;
  top: -32px;
  left: 0;
  font-size: medium;
  text-decoration: none;
}

.submit-container textarea {
  resize: none;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.submit-container button {
  align-self: flex-end;
  border-radius: 15px;
  background-color: #0084ff;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 4px;
  width: 100px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  align-self: flex-end;
  column-gap: 4px;
}

.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.post {
  position: relative;
  display: flex;
  margin-top: 24px;
  border: solid rgb(177, 177, 177) 1px;
  border-radius: 5px;
  height: 161px;
  width: 100%;
  max-width: 800px;
}

.edit-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: small;
  cursor: pointer;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

.vote-container {
  width: 40px;
  background-color: #f7f9fa;
  text-align: center;
  padding-top: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: x-small;
}

.vote-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.post-message {
  padding: 16px;
}

.post-info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.post-info p {
  font-size: xx-small;
  font-style: italic;
  margin-right: 10px;
  color: #ababab;
}

.author-link {
  text-decoration: none;
  cursor: pointer;
}

.author-link:hover {
  text-decoration: underline;
}
